body {
	background-color: #cc8844;
}
.thanksgiving {
	height: 100px;
	margin-bottom: -80px;
	margin-left: 350px;
}
h1 {
	margin-left: 10px;
	margin-bottom: 15px;
	color: #9c2706;
	font-size: 85px;
	font-weight: bold;
	font-family: 'Yellowtail', cursive;
	text-decoration: underline;
}
.youtube {
	height: 100px;
	margin-left: 20px;
}
.google {
	height: 100px;
	margin-left: 15px;
}
.humbleBundle {
	height: 100px;
	margin-left: 20px;
	margin-right: 20px;
}
.pandora {
	height: 100px;
	margin-top: 10px;
	margin-left: 45px;
}
.twitch {
	height: 100px;
	margin-left: 50px;
	margin-right: 40px;
}
.accuweather {
	height: 100px;
	margin-left: 40px;
}
.netflix {
	height: 100px;
	width: 160px;
	margin-left: 30px;
}
.nws {
	height: 100px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 10px;
}
.reddit {
	height: 100px;
	margin-left: 15px;
}